<% layout('layouts/boilerplate') %>
<h1>
        All Campgrounds
    </h1>
    <ul>
        <% for(let Campground of Campgrounds) {%>
        <li><a href="/campgrounds/<%= Campground._id %>"><%= Campground.title %></a></li>
        <% } %>
    </ul>